.aboutContainer{
    position: relative;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    .image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-filter: drop-shadow(5px 5px 0 var(--primary-color))
                  drop-shadow(-5px -5px 0 var(--primary-color));
  filter: drop-shadow(5px 5px 0 var(--primary-color)) 
          drop-shadow(-5px -5px 0 var(--primary-color) );
        }
    }
    .aboutInfo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .name{
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--primary-color);
        }
        .profesion{
            font-size: 1.2rem;
            font-weight: 400;
            color: black;
            span{
                color: var(--primary-color);
            }
        }
        .description{
            font-size: 1rem;
            font-weight: 400;
            color: black;
            text-align: center;
        }
        .links{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            a{
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--primary-color);
                transition: all 0.3s ease-in-out;
                svg{
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: white;
                    transition: all 0.3s ease-in-out;
                }
            }
            a:hover{
                width: 3.4rem;
                height: 3.4rem;
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}


@media only screen and (min-width: 1482px){
    .aboutContainer{
        padding: 0 9rem;
        flex-direction: row;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        .image{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-filter: none;
        filter: none;

            }

        }
        .aboutInfo{
            width: 50%;
            margin-left: 20rem;
            .description{
                font-size: 1.2rem;
                width: 80%;
            }
        }
    }
    .aboutContainer::after{
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        right: 0;
        top: 0;
        opacity: 0.1;
        z-index: -1;
    }
}