.container{
    position: relative;
    padding: 1rem;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.companyDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.title{
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 4rem;
    background: var(--secondary-color);
    opacity: 0.5;
    border-radius: 0 0 4rem 4rem;
    transition: .5s;
}

.companies{
    display: flex;
    margin-top: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    gap: 1rem;
    border-bottom: 2px solid rgb(189, 189, 189);
    margin-bottom: 1rem;
    position: relative;
    z-index: 90;
}

.company{
    position: relative;
    padding: 0.7rem 1.3rem;
    span{
        font-size: 1rem;
        color: black;
        transition: .3s ;
    }
}

.companyActive{
    transition: 1s;
    span{
        color: var(--secondary-color);
        font-weight: bold;
    }
}

.companyActive::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--secondary-color);
}


@media only screen and (min-width: 1482px){
    .container{
        padding: 0 9rem;

        .title{
            font-size: 2rem;
            margin-top: 2rem;
        }
        .companyDetail{
            flex-direction: row;
            justify-content: center;
            width: 70%;
            height: 100%;
            margin-top: 2rem;
            .companies{
                margin: 0;
                flex-direction: column;
                align-items: flex-end;
                width: 30%;
                border-bottom: none;
                border-right: 2px solid rgb(189, 189, 189);
                height: 80%;
                overflow-y: auto;
                overflow-x: hidden;
            }
            .company{
               span:hover{
                   color: var(--primary-color);
                   font-weight: bold;
               }
            }

        }
    }
    .container::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15rem;
        height: 15rem;
        background: var(--secondary-color);
        opacity: 0.5;
        border-radius: 50%;
        transition: .5s;
    }
}