.heroContainer{
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 50%;
}

.titleImageConatiner{
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.titleImageConatiner{
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    padding: 1rem;
    .titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        h1{
            font-size: 2rem;
            color: white;
            text-align: center;
            font-weight: 500;
            margin-top: 2rem;
        }
        p{
            color: var(--secondary-color);
        }
        .arrowLogo{
            width: 2rem;
            height: 2rem;
            margin-top: 2rem;
            color: white;
            animation: bounce 2s infinite;
            position: relative;
            z-index: 1;
        }
    }
}
.heroImageContainer{
    display: none;
}

@media only screen and (min-width: 1140px ){
    
}

@media only screen and (min-width: 1482px){
    .heroContainer{
        padding-top: 0;
    }
    .background{
        background-color: transparent;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/porfolio-eb408.appspot.com/o/heroBg.svg?alt=media&token=886b4acf-0e93-4fee-9a1a-3f0506a68a67");
        background-size: cover;
    } 
    .heroImageContainer{
        display: block;
    }

    .titleImageConatiner{
        align-items: center;
        justify-content: flex-end;
        gap: 3rem;
        padding: 10rem 10rem 0 10rem;
        .titleContainer{
            align-items: flex-start;
            h1{
                font-size: 3rem;
                text-align: left;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }