.heroContainer{
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.titleImageConatiner{
    height: 90vh;
    min-height: 90vh;
    max-height: 90vh;
}

.titleImageConatiner{
    display: flex;
    justify-content: center;
    height: 90vh;
    min-height: 90vh;
    max-height: 90vh;
    padding: 1rem;
    .titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        h1{
            font-size: 2rem;
            color: white;
            text-align: center;
            font-weight: 500;
            margin-top: 2rem;
        }
        p{
            text-align: center;
            color: var(--secondary-color);
        }
        .arrowLogo{
            width: 2rem;
            height: 2rem;
            margin-top: 2rem;
            color: white;
            animation: bounce 2s infinite;
            position: relative;
            z-index: 1;
        }
    }
}
.heroImageContainer{
    display: none;
}

@media only screen and (min-width: 1140px ){
    
}

@media only screen and (min-width: 1482px){
    .heroContainer{
        background-color: transparent;
        background-image: url("../public/heroBg.svg");
    } 
    .heroImageContainer{
        display: block;
    }

    .titleImageConatiner{
        margin-top: 5rem;
        align-items: center;
        gap: 3rem;
        padding: 0 9rem;
        .titleContainer{
            h1{
                font-size: 3rem;
                text-align: left;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }