.container{
    padding: 3rem 1rem 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.project{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .title{
            font-size: .8rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: var(--primary-color);
        }
        .subtitle{
            font-size: 1.5rem;
            font-weight: bold;
            color: black;
        }
        .description{
            font-size: 1rem;
            font-weight: 400;
            color: black;
        }
        .buttons{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            width: 80%;
            a{
                background-color: transparent;
                border: 2px solid var(--primary-color);
                height: 2.5rem;
                border-radius: 0.5rem;
                font-size: .9rem;
                font-weight: 400;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
            .sourceBut{
                width: 50%;
            }
            .liveBut{
                width: 50%;
            }
        }
    }
    .image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .tegnologies{
        width: 80%;
        .tegnologiesList{
            width: 100%;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            li{
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-items: center;
                width: 100%;
                text-align: left;
                svg{
                    color: var(--primary-color);
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}