.skilsContainer{
    display: flex;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    width: 100%;
    overflow-x: auto;
    // overflow-x: scroll;
    // white-space: nowrap;
    scroll-snap-type: x mandatory;  
    gap: 1rem;
    height: auto;
}


.skill{
    position: sticky;
    left: 0;
    flex: 0 0 auto; 
    width: 95%;
    padding: 1rem;
    background-color: white;
    scroll-snap-align: center;
    text-align: center;
    border-radius: 1rem;
    max-height: 40rem;
    .logo{
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
        color: var(--secondary-color);
    }
    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0;
    }
    .descripContainer{
        .description{
            width: 100%;
            padding: 1.5rem;
            font-size: 1rem;
            font-weight: 400;
            text-align: justify;
            position: relative;
            display: block;
        }
    }
}

@media only screen and (min-width: 1482px){
    .skilsContainer{
        flex-direction: row;
        justify-content: space-between;
        padding:  9rem;
    }
    .skill{
        width: 30%;
    }
}